/data/20200101_20201211_data_compiled.csv
/data/20200101_20201211_data_initial.csv
/data/2019_2020_data_without_2020wifi.csv
/data/20190403_20191003_data_compiled.csv
/.idea
/test.py
/data/electricity_data_hourly_and_half_hourly/
/half_hour_compiled.csv
/half_hour_compiled_without_prev.csv
/hour_compiled.csv
/hour_compiled_without_prev.csv
/data/room_check.csv
/utils.py
/data/
