/2020_data_compiled.csv
/2020_data_initial.csv
/all_data_without_wifi.csv
/summer_data_compiled.csv
/.idea
/test.py
/electricity_data_hourly_and_half_hourly/
/Meteorological_Data_Hourly_and_Half_Hourly_20201230_20210630/
/Meteorological_Data_Hourly_and_Half_Hourly_20201230_20210630/Meteorological_Minute_20201230_20210630/
