/data/20200101_20201211_data_compiled_hour.csv
/data/Initial_data/20200101_20201211_initial.csv
/data/Initial_data/2019_2020_data_without_2020wifi.csv
/data/20190403_20191003_data_compiled_hour.csv
/.idea
/test.py
/data/electricity_data_hourly_and_half_hourly/
/half_hour_compiled.csv
/half_hour_compiled_without_prev.csv
/hour_compiled.csv
/hour_compiled_without_prev.csv
/data/room_check.csv
/utils.py
/data/
/occupancy.csv
/Larger_than_1.csv
/truth_pred_plot/
/model_plot/
/try.py
/sparse_classification/plots/
/efficiency_regression/
/efficiency_classification/
/sparse_classification/*legacy*
/sparse_classification/plot/
/sparse_classification/results/
/new_room_validation/results/
/new_room_validation/plot/
/sparse_classification/prediction_on_no_efficiency_data/trn_2000_1_192.npy
